body {
    color: rgb(0, 0, 0);
    background: #A5CDF5;
} 
h1 {
    text-align: center;
}   
.mainlist{
    list-style-type: none;
    font-family: Georgia;
    text-shadow: 1px 1px;
    object-position: left;
    display:inline-table;
}
a{
    font-family: Verdana;
    text-decoration: none;
    color:#5C615B;
    font-weight: bolder;

}
header{
    background: #80E686;
}
footer{
    background: #FABB9A;
}
.imgmain{
        border-radius: 10px;
        width: 130px;
}
.photo{
    outline: 20px ridge rgba(0, 252, 105, 0.6);
    margin-left: 10%;
}
.catimg{
    border-radius: 10px;
}
.register{
    border: 3px dashed hsl(261, 100%, 78%);
    background: #ffeea1;
    padding-left: 4%;
    padding-bottom: 2%;
}
.otzyv{
    border: 3px dotted #ffeea1;
    background: hsl(281, 100%, 86%);
    padding-left: 4%;
    padding-bottom: 2%;
}
.description{
    border: 5px double #619e61;
    background: hsl(61, 24%, 49%);
    padding-left: 4%;
    padding-bottom: 2%;
    margin-top: 8%;
}
.sostav{
    border: 5px ridge #707070;
    background: hsl(212, 33%, 52%);
    padding-left: 4%;
    padding-bottom: 2%;
    margin-top: 8%;
}